@{
    ViewData["Title"] = "Home Page";
    List<Movie> inTheaters = ViewBag.inTheaters;
    List<Movie> comingSoon = ViewBag.comingSoon;
    List<Movie> oldMovies = ViewBag.oldMovies;
    List<Movie> movirate = ViewBag.movirate;
 
}
<div id="index">
    <div class="index">
        <div class="row">
            <div class="col-lg-12 pt-4 carousel">
                <h3 class="card-title"><b>In Theaters</b></h3>
                <div class="list-inline p-0 mb-0 row slick-initialized slick-slider">
                    <div class="slick-list draggable">
                        <ul class="slick-track p-0">
                            @foreach (Movie movie in inTheaters)
                            {
                                String img_source = movie.movieName.ToLower().Replace(" ", "_") + "_" + movie.year + ".jpg";

                                <li class="col-sm-4 slick-slide" style="width:48%;">
                                    <div class="d-flex align-items-center">
                                        <div class="col-6 p-0 position-relative">
                                            <a href="/Movie/MovieDetails?movie_ID=@movie.movie_ID">

                                               <img class="img-fluid rounded w-100" style="width:450px;height:550px;" src="~/pic/Movie-pics/@img_source" />
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <h5 class="mb-2"><b> @movie.movieName</b></h5>
                                            <p class="mb-2">@movie.categories</p>
                                            <p class="mb-2">@movie.duration min</p>
                                            <p class="mb-2"> Rate : @movie.rate</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-12 mt-4 coming-soon">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><b>Coming Soon</b></h4>
                        </div>
                        <div class="card-body">
                            <div class="list-inline p-0 mb-0 row slick-initialized slick-slider">
                                <div class="slick-list draggable">
                                    <ul class="coming-soon-slider p-0">
                                        @foreach (Movie movie in comingSoon)
                                        {
                                            String img_source = movie.movieName.ToLower().Replace(" ", "_") + "_" + movie.year + ".jpg";


                                            <li class="col-md-4 slick-slide" style="width:48%;">
                                                <div class="d-flex align-items-center">
                                                    <div class="col-6 p-0 position-relative">
                                                        <a href="/Movie/MovieDetails?movie_ID=@movie.movie_ID">
                                                            <img class="img-fluid rounded w-100" style="width:250px;height:250px;" src="~/pic/Movie-pics/@img_source" />
                                                        </a>
                                                    </div>
                                                    <div class="col-6">
                                                        <h5 class="mb-2"><b> @movie.movieName</b></h5>
                                                        <p class="mb-2">@movie.categories</p>
                                                        <p class="mb-2">@movie.duration min</p>

                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 mt-4 old-movies">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><b>Old Movies</b></h4>
                        </div>
                        <div class="card-body">
                            <div class="list-inline p-0 mb-0 row slick-initialized slick-slider">
                                <div class="slick-list draggable">
                                    <ul class="old-movies-slider p-0">
                                        @foreach (Movie movie in oldMovies)
                                        {
                                            String img_source = movie.movieName.ToLower().Replace(" ", "_") + "_" + movie.year + ".jpg";


                                            <li class="col-md-4 slick-slide" style="width:48%;">
                                                <div class="d-flex align-items-center">
                                                    <div class="col-6 p-0 position-relative">
                                                        <a href="/Movie/MovieDetails?movie_ID=@movie.movie_ID">
                                                            <img class="img-fluid rounded w-100" style="width:250px;height:250px;" src="~/pic/Movie-pics/@img_source" />
                                                        </a>
                                                    </div>
                                                    <div class="col-6">
                                                        <h5 class="mb-2"><b> @movie.movieName</b></h5>
                                                        <p class="mb-2">@movie.categories</p>
                                                        <p class="mb-2">@movie.duration min</p>
                                                        <p class="mb-2"> Rate : @movie.rate</p>

                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4 top-movies">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><b>Top 10 Movies</b></h4>
                    </div>
               

                    <div class="card-body">
                        <ul>
                            @{ foreach (Movie movie in movirate)
                               {
                                    <li>[@movie.rate] @movie.movieName</li>
                               }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>